<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwei.wxmanagement.wx.dao.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.iwei.wxmanagement.wx.member.dto.MemberDTO" >
    <id column="mid" property="mid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="post_code" property="pos.Meme" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="verify_mobile" property="verifyMobile" jdbcType="INTEGER" />
    <result column="wx_openid" property="wxOpenid" jdbcType="VARCHAR" />
    <result column="wx_name" property="wxName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    mid, name, address, post_code, mobile, verify_mobile, wx_openid,wx_name,create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_member
    where mid = #{mid,jdbcType=INTEGER}
  </select>

  <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from wx_member
    where wx_openid = #{wxOpenid,jdbcType=VARCHAR}
  </select>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >

    select
    <include refid="Base_Column_List" />
    from wx_member
    where mid = #{mid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wx_member
    where mid = #{mid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iwei.wxmanagement.wx.member.dto.MemberDTO" >
    insert into wx_member (
    name,
    address,
    post_code,
    mobile,
    verify_mobile,
    wx_openid,
    wx_name,
    create_time
      )
    values (
    #{name,jdbcType=VARCHAR},
    #{address,jdbcType=VARCHAR},
    #{postCode,jdbcType=VARCHAR},
    #{mobile,jdbcType=VARCHAR},
    #{verifyMobile,jdbcType=INTEGER},
    #{wxOpenid,jdbcType=VARCHAR},
    #{wxName,jdbcType=VARCHAR},
    #{createTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iwei.wxmanagement.wx.dto.WxAccessTokenDTO" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 24 21:49:05 CST 2019.
    -->
    update wx_member
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="verifyMobile != null" >
        verify_mobile = #{verifyMobile,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenid != null" >
        wx_openid = #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="wxName != null" >
        wx_name = #{wxName,jdbcType=VARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iwei.wxmanagement.wx.dto.WxAccessTokenDTO" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 24 21:49:05 CST 2019.
    -->
    update wx_member
    set access_token = #{accessToken,jdbcType=VARCHAR},
    expires_in = #{expiresIn,jdbcType=INTEGER},
    start_time = #{startTime,jdbcType=INTEGER},
    refresh_token = #{refreshToken,jdbcType=VARCHAR},
    openid = #{openId,jdbcType=VARCHAR},
    scope = #{scope,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>